{% extends 'OrganisationBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-1 content-block">
        <h1 class="text-center">Liste des joueurs</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-1 sub-content">
        <ul>
            {% for joueur in joueurs %}
                <li class="col-sm-6 col-lg-4 thumbnail">
                    <div class="li-text">
                        <h4 class="li-head">
                            {{ joueur.getNom() }} {{ joueur.getPrenom() }}
                        </h4>
                        <p class="">
                            Nombre de victoire : {{ joueur.getNbVictoire() }}
                        </p>
                        <a data-id="{{ joueur.id }}" class="subscribe-player">Suivre</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $( ".subscribe-player" ).click(function() {

            var url = "{{ path('suivre_joueur', {'idUser': app.user.id , 'idJoueur':'text' }) }}";
            url = url.replace("text", $(this).data("id"));

            $.ajax({
                url: url,
                type: 'POST',
                success: function(result) {
                    $(this).replaceWith("<i class='fa fa-check'></i>");
                }});
        });
    </script>
{% endblock %}