{% extends 'OrganisationBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ rencontre.nvxCompet }} : {{ rencontre.terrain.nom }}</h1>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h3>Equipe 1 :</h3>
                    <button type="button" data-id="{{ rencontre.equipes1.joueur1.id }}" class="btn-therapist btn btn-danger">
                        <i data-toggle="tooltip" data-placement="top" title="Appeler un soigneur" class="fa fa-medkit"></i>
                    </button>
                    <button type="button" data-id="{{ rencontre.equipes1.joueur1.id }}" class="btn btn-warning btn-add-warning" data-toggle="tooltip" data-placement="top" title="Emettre un avertissement">
                        <i class="fa fa-exclamation-triangle"></i>
                    </button>
                    {{ rencontre.equipes1.joueur1}}
                    {% if rencontre.equipes1.joueur1.getAvertissements is not empty %}
                        <i class="fa fa-exclamation-triangle"></i>
                    {% endif %}
                    <br>
                    {% if rencontre.equipes1.joueur2 != null %}
                        <button type="button" data-id="{{ rencontre.equipes1.joueur2.id }}" class="btn-therapist btn btn-danger">
                            <i  data-toggle="tooltip" data-placement="top" title="Appeler un soigneur" class="fa fa-medkit"></i>
                        </button>
                        <button type="button" data-id="{{ rencontre.equipes1.joueur2.id }}" class="btn btn-warning btn-add-warning" data-toggle="tooltip" data-placement="top" title="Emettre un avertissement">
                            <i class="fa fa-exclamation-triangle"></i>
                        </button>
                        {{ rencontre.equipes1.joueur2 }}
                        {% if rencontre.equipes1.joueur2.getAvertissements is not empty %}
                            <i class="fa fa-exclamation-triangle"></i>
                        {% endif %}
                        <br>
                    {% endif %}
                </div>
                <div class="col-sm-12 action-btn">
                    <button type="button" data-id="{{ rencontre.equipes1.id }}" class="btn-add-point btn btn-primary">Ajouter un point</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h3>Equipe 2 :</h3>
                    <button type="button" data-id="{{ rencontre.equipes2.joueur1.id }}" class="btn-therapist btn btn-danger">
                        <i data-toggle="tooltip" data-placement="top" title="Appeler un soigneur" class="fa fa-medkit"></i>
                    </button>
                    <button type="button" data-id="{{ rencontre.equipes2.joueur1.id }}" class="btn btn-warning btn-add-warning" data-toggle="tooltip" data-placement="top" title="Emettre un avertissement">
                        <i class="fa fa-exclamation-triangle"></i>
                    </button>
                    {{ rencontre.equipes2.joueur1}}
                    {% if rencontre.equipes2.joueur1.getAvertissements is not empty %}
                        <i class="fa fa-exclamation-triangle"></i>
                    {% endif %}
                    <br>
                    {% if rencontre.equipes2.joueur2 != null %}
                        <button type="button" data-id="{{ rencontre.equipes2.joueur2.id }}" class="btn-therapist btn btn-danger" data-toggle="tooltip" data-placement="top" title="Appeler un soigneur">
                            <i data-toggle="tooltip" data-placement="top" title="Appeler un soigneur" class="fa fa-medkit"></i>
                        </button>
                        <button type="button" data-id="{{ rencontre.equipes2.joueur2.id }}" class="btn btn-warning btn-add-warning" data-toggle="tooltip" data-placement="top" title="Emettre un avertissement">
                            <i class="fa fa-exclamation-triangle"></i>
                        </button>
                        {{ rencontre.equipes2.joueur2 }}
                        {% if rencontre.equipes2.joueur2.getAvertissements is not empty %}
                            <i class="fa fa-exclamation-triangle"></i>
                        {% endif %}
                        <br>
                    {% endif %}</div>
                <div class="col-sm-12 action-btn">
                    <button type="button" data-id="{{ rencontre.equipes2.id }}" class="btn-add-point btn btn-primary">Ajouter un point</button>
                </div>
            </div>
            <div class="col-sm-8 block-score">
                <div class="col-sm-12 block-equipe">
                    <div class="col-sm-4 block-name" id="equipe1"> Equipe 1 </div>
                    <div class="col-sm-4" id="set-1"></div>
                    <div class="col-sm-2"><span id="jeu-1">0</span></div>
                    <div class="col-sm-2"><span id="point-1">0</span></div>
                </div>
                <div class="col-sm-12 block-equipe">
                    <div class="col-sm-4 block-name" id="equipe2"> Equipe 2 </div>
                    <div class="col-sm-4" id="set-2"></div>
                    <div class="col-sm-2"><span id="jeu-2">0</span></div>
                    <div class="col-sm-2"><span id="point-2">0</span></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="service" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Premier service</h4>
                </div>
                <div class="modal-body">
                    <p>Selectionner l'équipe qui aura le premier service</p>
                    <div class="col-sm-3">
                        <h3>Equipe 1 :</h3>
                        {{ rencontre.equipes1.joueur1}}
                        {% if rencontre.equipes1.joueur2 != null %}
                            <br> {{ rencontre.equipes1.joueur2 }}
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <h3>Equipe 2 :</h3>
                        {{ rencontre.equipes2.joueur1}}
                        {% if rencontre.equipes2.joueur2 != null %}
                            <br> {{ rencontre.equipes2.joueur2 }}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-id="{{ rencontre.equipes1.id }}" class="btn-service btn btn-primary">Equipe 1</button>
                    <button type="button" data-id="{{ rencontre.equipes2.id }}" class="btn-service btn btn-primary">Equipe 2</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Avertissement</h4>
                </div>
                <div class="modal-body">
                    <p>Indiquez le motif :</p>
                    <textarea class="form-control" rows="5" id="motif"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button"  class="btn btn-primary" id="submitModal" data-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#service').modal();

        // Selection l'équipe qui servira la première
        $( ".btn-service" ).click(function() {
            var url = "{{ path('call_premier_serveur', {'idMatch': rencontre.id, 'idEquipe':'text' }) }}";
            url = url.replace("text", $(this).data("id"));
            $.ajax({url: url, success: function(result){
                /*$("#div1").html(result);*/
                $('#service').modal('toggle');
            }});
        });

        // Ajouter un point à l'équipe
        $( ".btn-add-point" ).click(function() {
            var url = "{{ path('call_add_point', {'idRencontre': rencontre.id, 'idEquipe':'text' }) }}";
            url = url.replace("text", $(this).data("id"));
            $.ajax({url: url, success: function(result) {

                /**
                 * Affichage des scores
                 */
                $('#set-1').html("");
                $('#set-2').html("");
                for (var i = 0; i < result.set.length; i++) {
                    var span1 = $('<span/>');
                    span1.text(result.set[i]['equipe1']);
                    $('#set-1').append(span1);

                    var span2 = $('<span/>');
                    span2.text(result.set[i]['equipe2']);
                    $('#set-2').append(span2);
                }
                $("#jeu-1").html(result.jeu.equipe1);
                $("#point-1").html(result.point.equipe1);
                $("#jeu-2").html(result.jeu.equipe2);
                $("#point-2").html(result.point.equipe2);

                /**
                 * Affichage du serveur
                 */
                if (result.service == 1) {
                    if ($('#equipe1').hasClass('serveur') == false) {
                        $('#equipe1').addClass('serveur');
                    }
                    if($('#equipe2').hasClass('serveur')) {
                        $('#equipe2').removeClass('serveur');
                    }
                } else {
                    if($('#equipe2').hasClass('serveur') == false) {
                        $('#equipe2').addClass('serveur');
                    }
                    if($('#equipe1').hasClass('serveur')) {
                        $('#equipe1').removeClass('serveur');
                    }
                }

            }});
        });

        // Faire appel à un soigneur
        $(".btn-therapist").click(function(){
            var url = "{{ path('call_therapist', {'idRencontre': rencontre.id, 'idJoueur':'text' }) }}";
            url = url.replace("text", $(this).data("id"));

            $.ajax({url: url, success: function(result) {
            }});
        });

        // Ajouter un avertissement
        $( ".btn-add-warning" ).click(function() {

            var idJoueur = $(this).data("id")

            $('#myModal').modal('show');

            $("#submitModal").click(function(){

                var url = "{{ path('add_warning', {'idRencontre': rencontre.id, 'idJoueur':'text' }) }}";
                url = url.replace("text", idJoueur);
                var motif = $('textarea#motif').val();

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { content: motif },
                    success: function(result) {
                    }});
            })

        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}