{% extends "OrganisationBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-11 col-sm-offset-1 content-block">
        <h1 class="text-center">Match n°{{ match.getId() }}</h1>
    </div>
    <div class="col-lg-11 col-sm-offset-1 content content-block" style="padding:20px;">
        <div class="row">
            <div class="col-lg-6">
                <p>Equipe 1 :</p>
                <p>Joueur 1 : {{ match.getEquipes1().getJoueur1().__toString() }}</p>
                {% if match.getEquipes1().getJoueur1().getAvertissements is not empty %}
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Avertissement(s) :
                        <ul>
                            {% for avertissement in match.getEquipes1().getJoueur1().getAvertissements %}
                                <li>{{ avertissement.motif }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
                {% if match.getEquipes1().getJoueur2() != null %}
                    <p>Joueur 2 : {{ match.getEquipes1().getJoueur2().__toString() }}</p>
                    {% if match.getEquipes1().getJoueur2().getAvertissements is not empty %}
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Avertissement(s) :
                            <ul>
                                {% for avertissement in match.getEquipes1().getJoueur1().getAvertissements %}
                                    <li>{{ avertissement.motif }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-6">
                <p>Equipe 2 :</p>
                <p>Joueur 1 : {{ match.getEquipes2().getJoueur1().__toString() }}</p>
                {% if match.getEquipes2().getJoueur1().getAvertissements is not empty %}
                    {% for avertissement in match.getEquipes1().getJoueur1().getAvertissements %}
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Avertissement(s) :
                            <ul>
                                {% for avertissement in match.getEquipes1().getJoueur1().getAvertissements %}
                                    <li>{{ avertissement.motif }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endfor %}
                {% endif %}
                {% if match.getEquipes1().getJoueur2() != null %}
                    <p>Joueur 2 : {{ match.getEquipes2().getJoueur2().__toString()}}</p>
                    {% if match.getEquipes1().getJoueur2().getAvertissements is not empty %}
                        {% for avertissement in match.getEquipes1().getJoueur1().getAvertissements %}
                            <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Avertissement(s) :
                                <ul>
                                    {% for avertissement in match.getEquipes1().getJoueur1().getAvertissements %}
                                        <li>{{ avertissement.motif }}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-6">
                <p><span style="font-weight:bold;">Terrain :</span> <span class="pull-right">{{ match.getTerrain().getNom() }}</span></p>
                <p><span style="font-weight:bold;">Date :</span> <span class="pull-right">{{ match.getDate()|date('Y-m-d H:i:s') }}</span></p>
                <p><span style="font-weight:bold;">Arbitre :</span> <span class="pull-right">{{ match.getArbitre() }}</span></p>
                <p><span style="font-weight:bold;">Nombre de set :</span> <span class="pull-right">{{ match.getNbSets() }}</span></p>
                <p><span style="font-weight:bold;">Compétition :</span> <span class="pull-right">{{ match.getNvxCompet() }}</span></p>
            </div>
            <div class="col-lg-6">
                <p><span style="font-weight:bold;">Liste des incidents</span></p>
                {% if not match.getIncidents().isEmpty() %}
                    {% for incid in match.getIncidents() %}
                        <ul>
                            <li>{{ incid.getMotif() }}</li>
                            {% if incid.getJoueur() != null %}
                                <li>Joueur concerné : {{ incid.getJoueur().__toString() }}</li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div style="font-weight:bold;" class="col-lg-12 text-center">Statistiques</div>
            </br>
            </br>
            <div class="col-lg-6">
                <p style="font-weight:bold;" class="text-center">
                    {% if match.getEquipes1().getJoueur2() == null %}
                        {{ match.getEquipes1().getJoueur1().__toString() }}
                    {% else %}
                        {{ match.getEquipes1().getJoueur1().__toString() }} / {{ match.getEquipes1().getJoueur2().__toString() }}
                    {% endif %}
                </p>
                <p><span style="font-weight:bold;">Balles de set :</span> <span class="pull-right">{{ nbSetE1 }}</span></p>
                <p><span style="font-weight:bold;">Balles de break :</span> <span class="pull-right">{{ nbBreakE1 }}</span></p>
                <p><span style="font-weight:bold;">Balles de match :</span> <span class="pull-right">{{ nbMatchE1 }}</span></p>
                <p><span style="font-weight:bold;">Jeux blancs :</span> <span class="pull-right">{{ nbBlancE1 }}</span></p>
            </div>
            <div class="col-lg-6">
                <p style="font-weight:bold;" class="text-center">
                    {% if match.getEquipes2().getJoueur2() == null %}
                        {{ match.getEquipes2().getJoueur1().__toString() }}
                    {% else %}
                        {{ match.getEquipes2().getJoueur1().__toString() }} / {{ match.getEquipes2().getJoueur2().__toString() }}
                    {% endif %}
                </p>
                <p><span style="font-weight:bold;">Balles de set :</span> <span class="pull-right">{{ nbSetE2 }}</span></p>
                <p><span style="font-weight:bold;">Balles de break :</span> <span class="pull-right">{{ nbBreakE2 }}</span></p>
                <p><span style="font-weight:bold;">Balles de match :</span> <span class="pull-right">{{ nbMatchE2 }}</span></p>
                <p><span style="font-weight:bold;">Jeux blancs :</span> <span class="pull-right">{{ nbBlancE2 }}</span></p>
            </div>
        </div>
    </div>
{% endblock %}