{% extends "FrontEndBundle::layout.html.twig" %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            {{ form_start(form, {'method': 'post', 'action': path('user-registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            {{ form_row(form.roleStringAdmin) }}
            <input class="btn btn-success" type="submit" value="Valider"/>
            {{ form_end(form) }}
        </div>
    {% else %}
        <div>
            {{ form_start(form, {'method': 'post', 'action': path('user-registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            {{ form_row(form.roleString) }}
            <input class="btn btn-success" type="submit" value="Valider"/>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}