{% extends "FrontEndBundle::layout.html.twig" %}

{% block content %}

    <div class="container"><h1>Welcome ! </h1>
        <button type="button" id="test" class="btn-service btn btn-primary">test</button>
    </div>
    <div id="exTab1" class="container">
        <ul  class="nav nav-pills">
            <li class="active">
                <a  href="#1a" data-toggle="tab">Matches en cours</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab">Matches terminé</a>
            </li>
            <li>
                <a href="#2c" data-toggle="tab">Matches à venir</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
                {% for match in matchsEnCours %}
                    <div class="match-card col-sm-5 match-en-cour" data-id="{{ match.id }}">
                        <div class="head-match-card">
                            <h3>
                                <a href="{{ path('voir-match', {'id_match': match.getId()}) }}">
                                    {{ match.getTerrain().getNom() }} - {{ match.nvxCompet }}
                                </a>
                            </h3>
                        </div>
                        <div class="col-sm-12 block-score">
                            <div class="col-sm-12 block-equipe">
                                <div class="col-sm-6 block-name" id="equipe1">
                                    {{ match.equipes1.joueur1}}
                                    {% if match.equipes1.joueur2 != null %}
                                        - {{ match.equipes1.joueur2 }}
                                    {% endif %}
                                </div>
                                <div class="col-sm-4" id="set-1-{{ match.id }}">
                                    {% if match.score.set|length > 0 %}
                                        {% for set in match.score.set %}
                                            <span>{{ set.equipe1 }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-1">
                                    <span id="jeu-1-{{ match.id }}">
                                    {% if match.score.jeu is not empty %}

                                        {{ match.score.jeu.equipe1 }}

                                    {% endif %}
                                    </span>
                                </div>
                                <div class="col-sm-1">
                                    <span id="point-1-{{ match.id }}">
                                    {% if match.score.point is not empty %}

                                        {{ match.score.point.equipe1 }}

                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-12 block-equipe">
                                <div class="col-sm-6 block-name" id="equipe2">
                                    {{ match.equipes2.joueur1}}
                                    {% if match.equipes1.joueur2 != null %}
                                        - {{ match.equipes2.joueur2 }}
                                    {% endif %}
                                </div>
                                <div class="col-sm-4" id="set-2-{{ match.id }}">
                                    {% if match.score.set|length > 0 %}
                                        {% for set in match.score.set %}
                                            <span>{{ set.equipe2 }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-1">
                                    <span id="jeu-2-{{ match.id }}">
                                        {% if match.score.jeu is not empty %}
                                            {{ match.score.jeu.equipe2 }}
                                        {% endif %}
                                    </span>
                                </div>

                                <div class="col-sm-1">
                                    <span id="point-2-{{ match.id }}">
                                    {% if match.score.point is not empty %}

                                        {{ match.score.point.equipe2 }}

                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p>Temps : <span id="dateDebut"></span> minutes</p>
                        <p>Arbitre : {{ match.arbitre }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="2a">
                {% for match in matchsTermine %}
                    <div class="match-card col-sm-5" id="{{ match.id }}">
                        <div class="head-match-card">
                            <h3>
                                <a href="{{ path('voir-match', {'id_match': match.getId()}) }}">
                                    {{ match.getTerrain().getNom() }} - {{ match.nvxCompet }}
                                </a>
                            </h3>
                        </div>
                        <div class="col-sm-12 block-score">
                            <div class="col-sm-12 block-equipe">
                                <div class="col-sm-6 block-name" id="equipe1">
                                    {{ match.equipes1.joueur1}}
                                    {% if match.equipes1.joueur2 != null %}
                                        - {{ match.equipes1.joueur2 }}
                                    {% endif %}
                                </div>
                                <div class="col-sm-4" id="set-1">
                                    {% if match.score.set is defined and match.score.set|length > 0 %}
                                        {% for set in match.score.set %}
                                            <span>{{ set.equipe1 }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-1">
                                    {% if match.score.jeu is defined and andmatch.score.jeu is not empty %}
                                        <span id="jeu-1">
                                                {{ match.score.jeu.equipe1 }}
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-1">
                                    {% if match.score.point is defined and match.score.point is not empty %}
                                        <span id="point-1">
                                            {{ match.score.point.equipe1 }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-12 block-equipe">
                                <div class="col-sm-4 block-name" id="equipe2">
                                    {{ match.equipes2.joueur1}}
                                    {% if match.equipes1.joueur2 != null %}
                                        - {{ match.equipes2.joueur2 }}
                                    {% endif %}
                                </div>
                                <div class="col-sm-4" id="set-2">
                                    {% if match.score.set is defined and match.score.set|length > 0 %}
                                        {% for set in match.score.set %}
                                            <span>{{ set.equipe2 }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-2">
                                    {% if match.score.jeu is defined and  match.score.jeu is not empty %}
                                        <span id="jeu-2">
                                            {{ match.score.jeu.equipe2 }}
                                        </span>
                                    {% endif %}
                                    <div class="col-sm-2">
                                        {% if match.score.point is defined and match.score.point is not empty %}
                                            <span id="point-2">
                                                {{ match.score.point.equipe2 }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Date : {{ match.getDate()|date('Y-m-d H:i:s') }}</p>
                        <p>Arbitre : {{ match.arbitre }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="2c">
                {% for match in matchsProgramme %}
                    <div class="match-card col-sm-5" id="{{ match.id }}">
                        <div class="head-match-card">
                            <h3>
                                <a href="{{ path('voir-match', {'id_match': match.getId()}) }}">
                                    {{ match.getTerrain().getNom() }} - {{ match.nvxCompet }}
                                </a>
                            </h3>
                        </div>
                        <div class="col-sm-12 block-score">
                            <div class="col-sm-12 block-equipe">
                                <div class="col-sm-6 block-name" id="equipe1">
                                    {{ match.equipes1.joueur1}}
                                    {% if match.equipes1.joueur2 != null %}
                                        - {{ match.equipes1.joueur2 }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-12 block-equipe">
                                <div class="col-sm-4 block-name" id="equipe2">
                                    {{ match.equipes2.joueur1}}
                                    {% if match.equipes1.joueur2 != null %}
                                        - {{ match.equipes2.joueur2 }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <p>Date : {{ match.getDate()|date('Y-m-d H:i:s') }}</p>
                        <p>Arbitre : {{ match.arbitre }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        refresh();

        function refresh() {
            refreshCard();
            refreshTimeMatch();
            setTimeout(refresh, 5000);
        }


        function refreshCard() {

            $('.match-en-cour').each(function () {
                var idMatch = $(this).data('id');
                console.log(idMatch + "\n");

                var url = "{{ path('call_get_score', {'idRencontre': 'idMatch'}) }}";
                url = url.replace('idMatch', idMatch);

                set1 = $(this).find('#set-1');
                set2 = $(this).find('#set-2');

                jeu1 = $(this).find("#jeu-1");
                point1 = $(this).find("#point-1");

                jeu2 = $(this).find("#jeu-2");
                point2 = $(this).find("#point-2");

                $.ajax({url: url, success: function(result) {

                    /**
                     * Affichage des scores
                     */
                    $('#set-1-' + idMatch).html("");
                    $('#set-2-' + idMatch).html("");
                    for (var i = 0; i < result.set.length; i++) {
                        var span1 = $('<span/>');
                        span1.text(result.set[i]['equipe1']);
                        $('#set-1-' + idMatch).append(span1);

                        var span2 = $('<span/>');
                        span2.text(result.set[i]['equipe2']);
                        $('#set-2-' + idMatch).append(span2);
                    }
                    $("#jeu-1-" + idMatch).html(result.jeu.equipe1);
                    $("#point-1-" + idMatch).html(result.point.equipe1);
                    $("#jeu-2-" + idMatch).html(result.jeu.equipe2);
                    $("#point-2-" + idMatch).html(result.point.equipe2);

                    /**
                     * Affichage du serveur
                     */
                    if (result.service == 1) {
                        if ($('#equipe1-' + idMatch).hasClass('serveur') == false) {
                            $('#equipe1-' + idMatch).addClass('serveur');
                        }
                        if($('#equipe2-' + idMatch).hasClass('serveur')) {
                            $('#equipe2-' + idMatch).removeClass('serveur');
                        }
                    } else {
                        if($('#equipe2-' + idMatch).hasClass('serveur') == false) {
                            $('#equipe2-' + idMatch).addClass('serveur');
                        }
                        if($('#equipe1-' + idMatch).hasClass('serveur')) {
                            $('#equipe1-' + idMatch).removeClass('serveur');
                        }
                    }

                }});
            });
        }

        function refreshTimeMatch() {

            $('.match-en-cour').each(function () {
                var minutes, heures = 0;
                var debut = $('#dateDebut');
                var idMatch = $(this).data('id');
                var url = "{{ path('call_get_time', {'idRencontre': 'idMatch'}) }}";
                url = url.replace('idMatch', idMatch);

                $.ajax({
                    url: url,
                    success: function(result) {
                        if(result >= 60)
                        {
                            heures++;
                            minutes = result - 60;
                            if(heures == 1)
                            {
                                result = heures + ' heure ' + minutes;
                            } else
                            {
                                result = heures + ' heures ' + minutes;
                            }
                        }
                        debut.text(result);
                }});
            });
        }

    </script>
{% endblock javascripts %}