{% block navbar %}
<li class="active"><a href="{{ path("tennis_organisation_home") }}">Accueil</a></li>
<li><a href="{{ path("gestion_joueur") }}">Gestion des joueurs</a></li>
<li><a href="{{ path("gestion_terrain") }}">Gestion des terrains</a></li>
<li><a href="{{ path("list_all_match") }}">Gestion des matchs</a></li>
<li><a href="{{ path("user-profile") }}">Mon compte</a></li>
<li><a href="{{ path("user-logout") }}">Se déconnecter</a></li>
{% endblock %}