{% block navbar %}
    <div class="col-lg-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path("admin_home") }}">Accueil</a></li>
                        <li><a href="{{ path("gestion_joueur") }}">Gestion des joueurs</a></li>
                        <li><a href="{{ path("gestion_terrain") }}">Gestion des terrains</a></li>
                        <li><a href="{{ path("list_all_match") }}">Gestion des matchs</a></li>
                        <li><a href="{{ path("user-registration") }}">Créer un utilisateur</a></li>
                        <li><a href="{{ path("create_match") }}">Créer un match</a></li>
                        <li><a href="{{ path("user-profile") }}">Mon compte</a></li>
                        <li><a href="{{ path("user-logout") }}">Se déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}