<div class=" col-sm-8 col-sm-offset-1">
    <div class="col-sm-offset-1 well window-connection content-block col-sm-12 user-form">
        <h1 class="text-center">Création d'un utilisateur</h1>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <a class="btn btn-success" href="{{ path("user-profile-edit") }}">Modifier mes informations</a>
        <a class="btn btn-success" href="{{ path("user-profile-pwd") }}">Modifier mon mot de passe</a>
    </div>
</div>
